<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
  <g clip-path="url(#a)">
    <mask id="h" width="24" height="24" x="0" y="0" maskUnits="userSpaceOnUse" style="mask-type:alpha">
    <g fill="#167FFB" clip-path="url(#b)">
      <path fill-rule="evenodd" d="M17.4 21V10.2L12 4.8H4.8c-.99 0-1.8.81-1.8 1.8V21c0 .99.801 1.8 1.791 1.8H15.6c.99 0 1.8-.81 1.8-1.8Zm-1.8 0H4.791V6.6H11.1v4.5h4.5V21Z" clip-rule="evenodd"/>
      <path d="M21 17.402a1.805 1.805 0 0 1-1.8 1.798V7.5L14.7 3H6.6c0-.99.81-1.8 1.8-1.8h7.2L21 6.6V17.402ZM6.6 13.8h7.2v1.8H6.6v-1.8ZM6.6 17.4h4.8v1.8H6.6v-1.8Z"/>
    </g>
    </mask>
    <g mask="url(#h)">
      <path fill="#001729" d="M0 0h24v24H0z"/>
    </g>
  </g>
  <defs>
    <clipPath id="a">
      <path fill="#fff" d="M0 0h24v24H0z"/>
    </clipPath>
    <clipPath id="b">
      <path fill="#fff" d="M0 0h24v24H0z"/>
    </clipPath>
  </defs>
</svg>