<div class="screen screen9 background background--9">
    <div class="wrapper">
        <div class="screen9__title" id="screen9" >
            <h2 class="text text--h2">Модульная сетка</h2>
        </div>
        <div class="screen9__info">
            <h4 class="text text--light">
                Мы используем модуль везде, где это не нарушает эстетики и не противоречит здравому смыслу. Сетка делает дизайн вычисляемым и более предсказуемым, а также ускоряет перенос дизайна в код. Стандартный размер фрейма 1600х1080. Параметры: 33 колонки с интервалами 24px, отступы от краев контентной области 20px.
            </h4>
        </div>
        <div class="screen9__grid">
            <img loading="lazy" width="923" height="567" src="images/screen9-grid.png" alt="">
        </div>
        
    </div>
</div>
