<div id="screen11" class="screen11 background background--11">
    <div class="screen11__image screen11__image--anm">
        <svg width="326" height="405" viewBox="0 0 326 405" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M157.236 6.89798L1.85113 390.23C-1.71534 399.029 7.83677 407.38 16.0798 402.67L320.412 228.778C325.546 225.844 327.027 219.119 323.6 214.3L174.653 4.85911C170.078 -1.57431 160.202 -0.418193 157.236 6.89798Z" stroke="currentColor"/>
</svg>
    </div>
    <div class="screen11__image">
        <svg width="338" height="427" viewBox="0 0 338 427" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M165.723 16.9537L10.8279 400.209C7.27004 409.012 16.8334 417.353 25.0715 412.632L328.444 238.776C333.566 235.84 335.044 229.131 331.63 224.315L183.152 14.9166C178.58 8.46796 168.686 9.62434 165.723 16.9537Z" stroke="currentColor"/>
    <path d="M163 272.536C163 269.679 164.523 267.04 166.996 265.61L187.998 253.469C190.665 251.928 194 253.852 194 256.932V283.464C194 286.321 192.477 288.96 190.004 290.39L169.002 302.531C166.335 304.072 163 302.148 163 299.068V272.536Z" stroke="currentColor"/>
    <path d="M163 117.267C163 114.389 164.546 111.733 167.048 110.312L188.024 98.395C190.691 96.88 194 98.806 194 101.873V225.733C194 228.611 192.454 231.267 189.952 232.688L168.976 244.605C166.309 246.12 163 244.194 163 241.127V117.267Z" stroke="currentColor"/>
</svg>
    </div>


    <div class="wrapper">
        <div class="screen11__content">
            <div class="screen11__title">
                <h2 class="text text--h2 text-light">Правила</h2>
            </div>
            <div class="screen11__info">
                <h4 class="text">
                    Правила и рекомендации, прописанные в UI-kit, повышают качество и скорость разработки, а также снижают количество расхождений в дизайне между проектами.
                </h4>
            </div>
        </div>
    </div>

    <div id="slides11" class="slides">
    <div class="slides__ovh">
        <div class="slides__scroll">
            <div class="slide slide--active">
                <div class="slide__close">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.3327 2.54797L17.4527 0.667969L9.99935 8.1213L2.54602 0.667969L0.666016 2.54797L8.11935 10.0013L0.666016 17.4546L2.54602 19.3346L9.99935 11.8813L17.4527 19.3346L19.3327 17.4546L11.8793 10.0013L19.3327 2.54797Z" fill="currentColor"/>
</svg>
                </div>
                <div class="slide__title">
                    <h3 class="text text--slide-title text--bold">
                        Интервалы в модальных окнах
                    </h3>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Шаблон модального окна можно импортировать в проект из библиотеки дизайн-системы. Ниже видно, что первый компонент построен с правильными интервалами и стилями, содержит все необходимые элементы. Нет необходимости каждый раз заново проектировать модальное окно
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide1.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide1_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide1.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Длинный текст в ячейке таблицы
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Максимальное количество строк для ячеек высотой 56 – 2 строки; для ячеек высотой 40 – 1 строка. Если текст не помещается в ячейку, показывается урезанная версия, а полный текст можно увидеть в тултипе
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide2.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide2_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide2.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Ширина столбцов в таблицах
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Ширина столбцов в таблице зависит от их количества и от количества символов в ячейке. Если в
                        таблице менее 8 столбцов, тогда их минимальная ширина равна 192, а максимальная — 384. Если в
                        таблице более 8 столбцов, тогда их минимальная ширина равна 128, а максимальная — 256
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide3.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide3_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide3.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Работа с графиками
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Графики и гистограммы – способ представления табличных данных в графическом виде. Чтобы не отклоняться от единого стиля, используйте компоненты и палитры из UI-kit
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide4.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide4_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide4.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Работа с тултипами
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Принципы работы с тултипом заимствованы из Material Design. В макетах в большинстве случаев
                        тултип размещается над компонентом (над инпутами, иконками и т.д.). В некоторых случаях тултип
                        размещается сбоку от компонента
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide5.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide5_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide6.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Использование кнопок
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Правила размещения кнопок в макетах зависит от функции интерфейса. Базовое правило заключается в
                        том, что кнопка Primary может быть только одна на экране. В некоторых случаях данную кнопку
                        допустимо размещать в каждом функциональном блоке экрана
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide6.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide6_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide6.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Палитра компонентов темной темы
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Для компонентов светлой и темной темы в UI-kit используются разные палитры. Рекомендуемый алгоритм создания макетов в темной теме: сначала проектируем, используя компоненты светлой темы, затем готовые макеты перекрашиваем с помощью плагина Themer
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide7.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide7_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide7.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Интервалы для модуля «бар»
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        В модуле «бар» интервалы между компонентами равны 24, интервал между боковым меню и первым
                        компонентом слева — 48. Верхний и нижний интервал данного модуля равен 12. В UI-kit можно найти
                        аналогичные правила и для других модулей интерфейса
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide8.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide8_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide8.png">
                </picture>
            </div>
        </div>

        <div class="steps">
            <div class="steps__pointer"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                    </div>
    </div>
</div>
    <div class="modal11">
        <div class="modal11__wrapper">
            <div class="modal11__close"> <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.3327 2.54797L17.4527 0.667969L9.99935 8.1213L2.54602 0.667969L0.666016 2.54797L8.11935 10.0013L0.666016 17.4546L2.54602 19.3346L9.99935 11.8813L17.4527 19.3346L19.3327 17.4546L11.8793 10.0013L19.3327 2.54797Z" fill="currentColor"/>
</svg>
</div>
            <div class="modal11__description"></div>
            <img src="" alt="" class="modal11__image">
        </div>
    </div>
</div>
