<div id="slides11" class="slides">
    <div class="slides__ovh">
        <div class="slides__scroll">
            <div class="slide slide--active">
                <div class="slide__close">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M19.3327 2.54797L17.4527 0.667969L9.99935 8.1213L2.54602 0.667969L0.666016 2.54797L8.11935 10.0013L0.666016 17.4546L2.54602 19.3346L9.99935 11.8813L17.4527 19.3346L19.3327 17.4546L11.8793 10.0013L19.3327 2.54797Z" fill="currentColor"/>
</svg>
                </div>
                <div class="slide__title">
                    <h3 class="text text--slide-title text--bold">
                        Интервалы в модальных окнах
                    </h3>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Шаблон модального окна можно импортировать в проект из библиотеки дизайн-системы. Ниже видно, что первый компонент построен с правильными интервалами и стилями, содержит все необходимые элементы. Нет необходимости каждый раз заново проектировать модальное окно
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide1.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide1_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide1.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Длинный текст в ячейке таблицы
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Максимальное количество строк для ячеек высотой 56 – 2 строки; для ячеек высотой 40 – 1 строка. Если текст не помещается в ячейку, показывается урезанная версия, а полный текст можно увидеть в тултипе
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide2.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide2_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide2.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Ширина столбцов в таблицах
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Ширина столбцов в таблице зависит от их количества и от количества символов в ячейке. Если в
                        таблице менее 8 столбцов, тогда их минимальная ширина равна 192, а максимальная — 384. Если в
                        таблице более 8 столбцов, тогда их минимальная ширина равна 128, а максимальная — 256
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide3.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide3_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide3.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Работа с графиками
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Графики и гистограммы – способ представления табличных данных в графическом виде. Чтобы не отклоняться от единого стиля, используйте компоненты и палитры из UI-kit
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide4.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide4_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide4.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Работа с тултипами
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Принципы работы с тултипом заимствованы из Material Design. В макетах в большинстве случаев
                        тултип размещается над компонентом (над инпутами, иконками и т.д.). В некоторых случаях тултип
                        размещается сбоку от компонента
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide5.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide5_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide6.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Использование кнопок
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Правила размещения кнопок в макетах зависит от функции интерфейса. Базовое правило заключается в
                        том, что кнопка Primary может быть только одна на экране. В некоторых случаях данную кнопку
                        допустимо размещать в каждом функциональном блоке экрана
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide6.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide6_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide6.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Палитра компонентов темной темы
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        Для компонентов светлой и темной темы в UI-kit используются разные палитры. Рекомендуемый алгоритм создания макетов в темной теме: сначала проектируем, используя компоненты светлой темы, затем готовые макеты перекрашиваем с помощью плагина Themer
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide7.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide7_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide7.png">
                </picture>
            </div>
            <div class="slide">
                <div class="slide__title">
                    <h4 class="text text--slide-title text--bold">
                        Интервалы для модуля «бар»
                    </h4>
                </div>
                <div class="slide__more">
                    <h3 class="text text--h3">
                        Подробнее
                    </h3>
                </div>
                <div class="slide__description">
                    <h4 class="text text--h4">
                        В модуле «бар» интервалы между компонентами равны 24, интервал между боковым меню и первым
                        компонентом слева — 48. Верхний и нижний интервал данного модуля равен 12. В UI-kit можно найти
                        аналогичные правила и для других модулей интерфейса
                    </h4>
                </div>
                <picture>
                    <source srcset="images/slides/slide8.png" media="(min-width: 640px)">
                    <source srcset="images/slides/slide8_1024.png" media="(max-width: 640px)">
                    <img class="slide__image" alt="" src="images/slides/slide8.png">
                </picture>
            </div>
        </div>

        <div class="steps">
            <div class="steps__pointer"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                            <div class="step"></div>
                    </div>
    </div>
</div>
